body {
  background-color: rgb(255, 255, 255);
  font-family: "Irish Grover", cursive;
  width: 100%;
}

td {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: center;
  font-size: 70px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child {
  border-left: none;
}

table tr td:last-child {
  border-right: none;
}

.endgame {
  width: 300px;
  height: 100px;
  position: absolute;
  display: none;
  top: 25%;
  left: 50%;
  font-size: 2rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

button {
  min-width: 90px;
  height: 30px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgb(62, 180, 189);
  font-size: 1.3rem;
  color: white;
  border-radius: 2px;
}

@media (max-width: 600px) {
  td {
    width: 70px;
    height: 70px;
    font-size: 40px;
  }
  table {
    min-width: 250px;
  }
  .endgame {
    font-size: 1.6rem;
  }
}
